# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules/
/.pnp
.pnp.js
__pycache__/

# virtual environments
.venv/
venv/

# testing
/coverage

# production
/build

# Milvus database files
volumes/milvus/etcd/member/snap/*
volumes/milvus/etcd/member/wal/*
volumes/milvus/rdb_data/*
volumes/milvus/rdb_data_meta_kv/*

# Temporary files (if any)
*.tmp

# Log files (if you don't want to track them)
*.log

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
