aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
beautifulsoup4
blinker
bs4
certifi
charset-normalizer
click
colorama
contourpy
cycler
dataclasses-json
faiss-cpu
filelock
Flask
Flask-Cors
fonttools
frozenlist
fsspec
greenlet
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
itsdangerous
Jinja2
joblib
jq
jsonpatch
jsonpointer
kiwisolver
langchain
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-sdk
langsmith
MarkupSafe
marshmallow
matplotlib
mpmath
msgpack
multidict
mypy-extensions
networkx
numpy
ollama
orjson
packaging
pandas
pillow
propcache
pydantic
pydantic-settings
pydantic_core
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-toolbelt
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
sniffio
soupsieve
SQLAlchemy
sympy
tabulate
tenacity
threadpoolctl
tokenizers
torch
tqdm
transformers
typing-inspect
typing_extensions
tzdata
urllib3
Werkzeug
yarl
zstandard
